<div>
  <label for="">Name</label>
  {{input value=name}}
</div>
<div>
  <label for="">Phone</label>
  {{input value=phone}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
